* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: "Merriweather", serif;
  background-color: #fff2ee;
  color: #40514e;
  line-height: 2;
}

hr {
  border: dotted #999b84 6px;
  border-bottom: none;
  width: 4%;
  margin: 1rem auto;
  background-color: #fff2ee;
}

a {
  text-decoration: none;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

/* Navigation Bar */

#title .navbar-brand {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  padding-left: 2rem;
}

#title .navbar {
  background-color: rgb(255, 242, 238, 0.8);
}

#title .nav-item {
  margin: 0px 18px;
}

#title .nav-link {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
}

/* Anchors */

#experience,
#education,
#skills,
#project,
#contact {
  scroll-margin-top: 73px;
}

/* Headings and Paragraphs */

h1 {
  font-family: "Dancing Script", cursive;
  font-size: 500%;
  color: #556052;
}

h2 {
  font-family: "Montserrat", sans-serif;
  color: #556052;
  font-size: 2.2rem;
  padding: 0.2rem;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #556052;
  font-size: 1.6rem;
  margin: 0.5rem 0 0.2rem 0;
}

p {
  margin: 1rem;
  font-size: 1.1rem;
}

/* Section */
.section .inner-container {
  margin: 2% auto;
  width: 55%;
}

.section {
  padding: 1.5rem 0rem;
}

.light-sec {
  background-color: #efd9d1;
}

.light-sec hr {
  background-color: #fff2ee;
}

.dark-sec hr {
  background-color: #d8ac9c;
  border: dotted #41514e 6px;
  border-bottom: none;
}

.dark-sec {
  background-color: #d8ac9c;
}

/* Division Container */
.right-container-3 {
  text-align: left;
}

.left-container-3 {
  text-align: left;
}

.right-container-3 h3 {
  margin-top: 1.5rem;
}

.left-container-3 h3 {
  margin-top: 1.5rem;
}

.right-container-3 p,
h3 {
  padding-left: 0;
  margin-left: 0;
}

.left-container-3 p,
h3 {
  padding-left: 0;
  margin-left: 0;
}

.left-container-1 {
  padding: 0 0.5rem 0 0;
}

.right-container-1 {
  padding: 0 0 0 0.5rem;
}

.left-container-1 img {
  width: 100%;
  border-radius: 50%;
  margin-top: 1.5rem;
}

.right-container-1 img {
  width: 100%;
  border-radius: 50%;
  margin-top: 1.5rem;
}

/* Top Container */

.top-container {
  position: relative;
  background-color: #fff2ee;
  padding: 1%;
  margin-bottom: 2%;
  line-height: 1;
}

.top-container p {
  font-size: 1.2rem;
  margin: 2%;
}

/* Icon Elements */

.cat {
  width: 8%;
}

.working {
  width: 50%;
}

.leaf {
  position: absolute;
  width: 7%;
  top: 40%;
  left: 20%;
}

.bird {
  position: absolute;
  width: 7%;
  top: 80%;
  right: 10%;
}

/* Profile */

.profile-photo {
  margin: 2%;
  width: 15%;
}

.profile h2 {
  margin-top: 0;
}

/* Skills */
.skills i:hover {
  color: #efd9d1;
}

.skills h3 {
  margin: 2rem;
}

/* Certificates */

.certificate .nav {
  justify-content: center;
  margin: 2rem;
}

.certificate .nav-link {
  color: #556052;
}

.certificate .nav-link:hover {
  color: #f4eeed;
}

.certificate .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #efd9d1;
  color: #556052;
}

.certificate .tab-content {
  display: flex;
  justify-content: center;
}

.certificate .card {
  background-color: #f4eeed;
}

.certificate .card-header {
  background-color: #f4eeed;
}

.certificate .list-group > li {
  background-color: #f4eeed;
}

.certificate .card a {
  color: #d8ac9c;
  text-decoration: underline;
}

.certificate .card-title {
  margin: 1rem;
}

.certificate .nav-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

/* My Resume */

.resume .contact-btn:hover {
  background: #d8ac9c;
  text-decoration: none;
}

/* Contact me */

.contact-me a {
  margin: 1%;
  color: #556052;
  text-decoration: none;
}

.contact-me a:hover {
  color: #556052;
  text-decoration: none;
}

.contact-btn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  color: #556052;
  font-size: 20px;
  background: #f4eeed;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.contact-btn:hover {
  background: #efd9d1;
  text-decoration: none;
}

.contact-btn-div {
  margin: 50px;
}

.copyright {
  font-size: 0.85rem;
}

/* Quotations */

.quote {
  padding: 8rem;
}

.quote > p {
  font-family: "Nothing You Could Do", cursive;
  font-size: 1.7rem;
}

/* Bottom */

.bottom-container {
  padding: 3%;
  line-height: 3;
}

.bottom-container a {
  color: #556052;
  margin: 0 5rem;
}

.bottom-container a:hover {
  color: #f4eeed;
}

.copyright {
  margin: 2rem 0 0 0;
}
