* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: "Merriweather", serif;
  background-color: #fff2ee;
  color: #40514e;
  line-height: 2;
}

/* Headings and Paragraphs */

h1 {
  font-family: "Dancing Script", cursive;
  font-size: 500%;
  color: #556052;
}

h2 {
  font-family: "Montserrat", sans-serif;
  color: #556052;
  font-size: 2.2rem;
  padding: 0.2rem;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #556052;
  font-size: 1.6rem;
  padding: 0.2rem;
}

p {
  margin: 1rem;
  font-size: 1.1rem;
}

/* Section */
.section .inner-container {
  margin: 2% auto;
  width: 55%;
}

.section {
  padding: 1.5rem 0rem;
}

.light-sec {
  background-color: #efd9d1;
}

.dark-sec {
  background-color: #d8ac9c;
}

/* Top Container */

.top-container {
  position: relative;
  background-color: #fff2ee;
  padding: 1%;
  margin-bottom: 2%;
  line-height: 1;
}

.top-container p {
  font-size: 1.2rem;
  margin: 2%;
}

/* Icon Elements */

.cat {
  width: 8%;
}

.working {
  width: 50%;
}

.leaf {
  position: absolute;
  width: 7%;
  top: 40%;
  left: 20%;
}

.bird {
  position: absolute;
  width: 7%;
  top: 80%;
  right: 10%;
}

/* Profile */

.profile-photo {
  margin: 2%;
  width: 15%;
}

.profile h2 {
  margin-top: 0;
}

/* Education */
.education p {
  margin-left: 0;
}

.edu-row {
  margin: 2rem auto;
  text-align: left;
}

.edu-row img {
  border-radius: 50%;
  width: 25%;
}

.uoft-icon {
  float: left;
  margin-right: 1.8rem;
}

.hgs-icon {
  float: right;
  margin-left: 1.8rem;
}

.bottom-container {
  padding: 2%;
  line-height: 3;
}

/* Contact me */

.contact-me a {
  margin: 1%;
  color: #556052;
  text-decoration: none;
}

.contact-me a:hover {
  color: #556052;
  text-decoration: none;
}

.contact-btn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  color: #556052;
  font-size: 20px;
  background: #f4eeed;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.contact-btn:hover {
  background: #efd9d1;
  text-decoration: none;
}

.contact-btn-div {
  margin: 50px;
}

.copyright {
  font-size: 0.85rem;
}

/* quotations */

.quote {
  padding: 8rem;
}

.quote > p {
  font-family: "Nothing You Could Do", cursive;
  font-size: 1.7rem;
}
